@page "/"

@using tictacApp.Data
@using tictacApp.Services
@inject TimeLogsService TimeLogsService

<PageTitle>Time logs</PageTitle>

<MudText Class="ml-2 mb-4" Typo="Typo.h5">Time Logs</MudText>

@if (_timeLogs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudPaper Class="ml-2 mr-2 pa-4 mb-4">
        <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Small" Class="d-inline-flex">
            <MudIconButton Icon="@Icons.Material.Filled.NavigateBefore" OnClick="@PrevDayAsync"></MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.NavigateNext" Disabled="@_forbidNextDay" OnClick="@NextDayAsync"></MudIconButton>
        </MudButtonGroup>

        <MudButtonGroup DisableElevation="true" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="d-inline-flex ml-4">
            <MudButton StartIcon="@Icons.Material.Filled.PostAdd">Add Log</MudButton>
        </MudButtonGroup>
    </MudPaper>

    <MudPaper Class="d-inline-flex ml-2 pa-4">
        <MudText>Total for @_selectedDay.ToLongDateString(): xxxx</MudText>
    </MudPaper>
    <MudPaper Class="d-inline-flex pa-4">
        <MudText>Total for the week: xxxx</MudText>
    </MudPaper>

    <MudDataGrid T="TimeLog" Items="@_timeLogs" Bordered="true" Dense="true" Class="ml-2 mr-2 mt-4">
        <Columns>
            <Column T="TimeLog" Field="StartDate" Title="Start Date" />
            <Column T="TimeLog" Field="Description" />
            <Column T="TimeLog" CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Outlined.Edit" OnClick="@EditItem" />
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Outlined.Delete" OnClick="@RemoveItem" />
                </CellTemplate>
            </Column>
        </Columns>
    </MudDataGrid>

}



@code {
    private TimeLog[]? _timeLogs;

    private DateOnly _selectedDay = DateOnly.FromDateTime(DateTime.Now);
    private bool _forbidNextDay = true;

    protected override async Task OnInitializedAsync()
    {
        await GetTimeLogsAsync();
    }

    void AddItem()
    {
       // _items.Add(new Model("New Person", 44, Severity.Warning, 85_000.00M, new DateTime(2022, 1, 1), true));
    }

    void RemoveItem()
    {
       // _items.RemoveAt(0);
    }

    void EditItem()
    {

    }

    private async Task PrevDayAsync()
    {
        _selectedDay = _selectedDay.AddDays(-1);
        _forbidNextDay = false;
        await GetTimeLogsAsync();
    }

    private async Task NextDayAsync()
    {
        _selectedDay = _selectedDay.AddDays(1);

        DateOnly today = DateOnly.FromDateTime(DateTime.Now);
        _forbidNextDay = (_selectedDay >= today);

        await GetTimeLogsAsync();
    }

    private async Task GetTimeLogsAsync()
    {
        _timeLogs = await TimeLogsService.GetTimeLogsAsync(_selectedDay);
    }
}