<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <MudAlert Class="mt-2 ml-2 mr-2" Severity="Severity.Info" Variant="Variant.Outlined">
                        You need to login to access this page.
                    </MudAlert>  
                </NotAuthorized>
                <Authorizing>
                    <p>Checking authorizations...</p>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <MudAlert Class="mt-2 ml-2 mr-2" Severity="Severity.Warning" Variant="Variant.Outlined">
                    Sorry, there's nothing at this address.
                </MudAlert> 
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>