@using tictacApp.ViewModels
@using tictacApp.Helpers

<MudTable Items="@PlannedActivities" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@Loading" LoadingProgressColor="Color.Info"
            Class="ml-2 mr-2 mt-4">
    <ColGroup>
        <col style="width: 20%;" />
        <col />
        <col style="width: 8%;" />
        <col style="width: 5%;" />
        <col style="@(IsActivityAtRisk() ? "width: 70px;" : "width: 120px;")"/>
    </ColGroup>
    <HeaderContent>
        <MudTh>Label</MudTh>
        @if (@DisplayPath)
        {
            <MudTh>Path / Description</MudTh>
        }
        else
        {
            <MudTh>Description</MudTh>
        }
        <MudTh>Target</MudTh>
        <MudTh>Completion</MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Label">@context.Label</MudTd>
        <MudTd DataLabel="Description">
            @if(@DisplayPath)
            {
                <p><MudText Typo="Typo.caption">@context.BreadcrumbPath</MudText></p>
                @if (!string.IsNullOrEmpty(@context.Description))
                {
                    <p><MudText Typo="Typo.body2">@context.Description</MudText></p>  
                }
                else
                {
                <br> 
                }
            }
            else
            {
                @context.Description
            }
        </MudTd>
        <MudTd DataLabel="Target" Style="@GetTargetDateColor(context.TargetDate)">@context.TargetDate?.ToString("d")</MudTd>
        <MudTd DataLabel="Completion">
            <MudProgressLinear Color=@GetStatusColor(context.IsBehind) Size="Size.Large" Value=@context.CompletionPercent>
                    <MudText Typo="Typo.subtitle1" Color="Color.Dark">
                    <b>@context.CompletionPercent</b>
                </MudText>
            </MudProgressLinear>
        </MudTd>

        <MudTd DataLabel="Actions">
            @if (@IsActivityAtRisk())
            {
                <MudIconButton Size="@Size.Small" Icon="@AppIcons.List" Title="Find in list"
                                OnClick="@(async () => await GoToActivityInListAsync.InvokeAsync(context))" />                
            }
            else
            {
                <MudIconButton Size="@Size.Small" Icon=@GetHasChildrenIcon(context.Id) Title=@GetHasChildrenTooltip(context.Id)
                                OnClick="@(async () => await GoToSubActivityEventAsync.InvokeAsync(context.Id))" />
                @if (IsInSelection)
                {
                    <MudIconButton Size="@Size.Small" Icon="@AppIcons.Select" Title="@($"Select this {@Context}")" 
                                OnClick="@(async () => await SelectEventAsync.InvokeAsync(context))" />
                }
                else
                {
                    <MudIconButton Size="@Size.Small" Icon="@AppIcons.Edit" Title="@($"Modify {@Context}")" 
                                OnClick="@(async () => await EditPlannedActivityEventAsync.InvokeAsync(context))" />
                    <MudIconButton Size="@Size.Small" Icon="@AppIcons.Delete" Title="@($"Delete {@Context}")" 
                                OnClick="@(async () => await DeletePlannedActivityEventAsync.InvokeAsync(context))" />
                }
            }
        </MudTd>
    </RowTemplate>
</MudTable>

@code {
    [Parameter]
    public EventCallback<PlannedActivityView> DeletePlannedActivityEventAsync { get; set; }

    [Parameter]
    public EventCallback<PlannedActivityView> EditPlannedActivityEventAsync { get; set; }

    [Parameter]
    public EventCallback<int> GoToSubActivityEventAsync { get; set; }

    [Parameter]
    public EventCallback<PlannedActivityView> SelectEventAsync { get; set; }
    
    [Parameter]
    public EventCallback<PlannedActivityView> GoToActivityInListAsync { get; set; }

    [Parameter]
    public PlannedActivityView[]? PlannedActivities { get; set; }

    [Parameter]
    public IEnumerable<int>? PlannedActivitiesWithChildren { get; set; }

    [Parameter]
    public bool Loading { get; set; }

    [Parameter]
    public bool IsInSelection { get; set; } = false;

    [Parameter]
    public string Context { get; set; } = string.Empty;

    [Parameter]
    public PlannedActivitySettingsView ActivitiesSettings { get; set; }

    [Parameter]
    public bool DisplayPath { get; set; } = false;

    //Do not display the same actions when checking activities at risk and
    //being in the original list
    private bool IsActivityAtRisk() 
        => Context.ToUpper().Contains("RISK");
    

    //Color of the progress bar
    private Color GetStatusColor(bool isBehind) 
        => isBehind ? Color.Error : Color.Success;


#region Definition of the date color
    private string GetTargetDateColor(DateTime? targetDate)
    {
        if (ActivityRiskHelper.IsTooLate(targetDate, ActivitiesSettings.OrangeLow))
        {
            return "Color: red;";
        }
        else if (ActivityRiskHelper.IsInDangerZone(targetDate, ActivitiesSettings))
        {
            return "Color: orange;";
        }
        else if (ActivityRiskHelper.IsInGreenZone(targetDate, ActivitiesSettings))
        {
            return "Color: green;";
        }
        else
        {
            return "";
        }   
    }
#endregion Definition of the date color

#region Definition of the drill down icon color
    private string GetHasChildrenIcon(int plannedActivityId) 
        => HasChildren(plannedActivityId) ? AppIcons.ViewWithContent : AppIcons.View;

    private string GetHasChildrenTooltip(int plannedActivityId)
        => HasChildren(plannedActivityId) ? $"Show children {Context}" : $"Create children {Context}";

    private bool HasChildren(int plannedActivityId)
    {
        if (PlannedActivitiesWithChildren is not null)
        {
            return PlannedActivitiesWithChildren.Any(pa => pa == plannedActivityId);
        }

        return false;
    }
#endregion  Definition of the drill down icon color

}
